body {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

header {
	font-size: 0.8rem;
    color: #202020;
}

#ava {
	border-radius: 50%;
	width: 20rem;
	height: 20rem;	
}

.logo {
	width: 4rem;
	height: 4rem;
	margin-bottom: -1.5rem;
}

.link-block {
	padding-bottom: 0.2rem;
}

.link-text {
    font-size: 1.5rem;
    text-decoration: none;
    color: #202020;
}